p Esta aplicaci칩n web le permite llevar un registro completo de usuarios. Solo tendr치 que a침adirlos en esta vista y tras ello podr치 editarlos o eliminarlos.

h1 Nuevo Usuario

form(method="POST", action="/user")

  p Nombre:
    input(type="text" name="name")

  p
    button(type="submit") Enviar
